/* Write your CSS here */
.app-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}

.main-heading {
  color: #f0bb03;
  font-size: 70px;
}

.greet-message {
  color: white;
  font-size: 30px;
}

.subscribe-btn {
  background-color: #007bff;
  border-radius: 4px;
  height: 30px;
  color: white;
  cursor: pointer;
  border-style: none;
  font-size: 12px;
  width: 80px;
}
